<div class="row">
    <div class="col-md-12">
        <div class="well">
            <p>
                HIB-IMMO bvba</br>
                Diestsesteenweg 353 </br>
                3202 Rillaar Aarschot  </br>
            </p>

            <p>
                Tel: 016/50.90.26. </br>
                Fax: 016/50.90.27. </br>
                GSM 0494/20.12.59. </br>
                Email: info@hib-immo.be</br>
            </p>

            <p>
                BIV nummer: 501 443 </br>
                BTW en ondernemingsnummer: 0460.274.403</br>
                KBC Bank IBAN: BE13 7343 8130 0339  </br>
                BIC: KREDBEBB </br>
            </p>
            <!--
            <form class="form-inline" {{action "sendmail" this on="submit"}}>
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" {{bind-attr for="nameField.field_id"}}>Naam</label>

                        <div class="controls">
                            {{input valueBinding='name' size='20' name='Naam' placeholder="Naam" class="input-medium" required="required" viewName='nameField'}}
                        </div>
                    </div>

                    <div class="input string">
                        <label {{bind-attr for="nameField.field_id"}}>Naam</label>
                        {{input valueBinding='name' size='20' name='name' viewName='nameField'}}
                    </div>
                    <div class="input">
                        <label {{bind-attr for="mailField.field_id"}}>Email</label>
                        {{input valueBinding='mail' size='20' name='email' viewName='mailField'}}
                    </div>
                    <div class="control-group">
                        <label class="control-label"  {{bind-attr for="questionField.field_id"}}>Vraag</label>
                        {{textarea cols="80" rows="6" valueBinding='question' name='question' viewName='questionField'}}
                    </div>
                    <br>
                    <button type="submit">Verstuur</button>
                </fieldset>
            </form>
            -->
            <p>
                Lid van confederatie van immobiliënberoepen in België</br><br>
                <a href="http://www.cibweb.be" target="_blank"> <img src="assets/images/logo_cibweb.jpg"></a>
            </p>

            <p>
                Onderworpen aan de deontologische code van het BIV </br>
                Beroepsinstituut van vastgoedmakelaars </br>
                Luxemburgstraat 16 B 1000 Brussel  </br>
                <a href="http://www.biv.be" target="_blank"><img src="assets/images/Logo-biv.jpg"></a>
            </p>
        </div>
    </div>
</div>