<div class="row">
<div class="col-md-12">
<ul class="nav nav-tabs navbar-harvest correct padding">
    <li class="active"><a href="#tekoop" {{action "tekoop"}} data-toggle="tab">Te Koop</a></li>
    <li><a href="#tehuur" {{action "tehuur"}} data-toggle="tab">Te Huur</a></li>
    <li><a href="#reference" {{action "reference"}} data-toggle="tab">Referentie</a></li>
</ul>
    <div class="tab-content">
    <div class="tab-pane padding active" id="tekoop">
        <table width="100%">
                <tr>
                    <td width="50%">
                        <div class="house_item">
                            <table width="100%">
                                <tr>
                                    <td colspan="1"><h3 class="house_item_header">Rillaar</h3></td>
                                    <td><span class="label_price">Sterk verlaagde prijs !!</span></td>
                                </tr>
                                <tr valign="top">
                                    <td width="35%">
                                        <div>

                                            <img class="house_item_img"
                                                         src="assets/images/project_peeters/peeters_thumbnail.jpg">
                                        </div>
                                    </td>
                                    <td width="65%" align="left">
                                        Motteveld 30<br>
                                        3202 Rillaar<br>
                                        Prijs : 250000,00 € excl BTW
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td colspan="2">
                                        {{link-to 'detail' 'house' 1 class="btn btn-primary"}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td width="50%">
                        <div class="house_item">
                            <table width="100%">
                                <tr>
                                    <td colspan="2"><h3 class="house_item_header">Woning te Tielt-winge</h3></td>
                                </tr>
                                <tr valign="top">
                                    <td width="35%">
                                        <div>
                                            <img class="house_item_img"
                                                 src="assets/images/project_voorkens/voorkens_thumb.JPG">
                                        </div>
                                    </td>
                                    <td width="65%" align="left">
                                        Leuvensesteenweg 23<br>
                                        3390 Tielt-Winge<br>
                                        Prijs :255000,00 €
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td colspan="2">
                                        {{link-to 'detail' 'house' 12 class="btn btn-primary"}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <div class="house_item">
                            <table width="100%">
                                <tr>
                                    <td colspan="2"><h3 class="house_item_header">Bouwgrond te langdorp</h3></td>
                                </tr>
                                <tr valign="top">
                                    <td width="35%">
                                        <div>
                                            <img class="house_item_img"
                                                 src="assets/images/project_kempenaers/bouwgrond_plan.jpg">
                                        </div>
                                    </td>
                                    <td width="65%" align="left">
                                        Vleminkstraat 122<br>
                                        3201 Langdorp<br>
                                        Prijs :140000,00 €
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td colspan="2">
                                        {{link-to 'detail' 'house' 11 class="btn btn-primary"}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td width="50%">

                    </td>
                </tr>
            </table>
        </div>
    <div class="tab-pane padding well" id="tehuur">
        <table width="100%">
                <tr>
                    <td>Momenteel geen aanbod</td>
                </tr>
            <tr>
            </tr>
            <tr>
            </tr>
        </table>
    </div>
    <div class="tab-pane padding " id="reference">
        <table width="100%">
            <tr>
                <td width="50%">
                        <div class="house_item">
                            <table width="100%">
                                <tr>
                                    <td colspan="2"><h3 class="house_item_header">Nieuw gelijkvloers appartement met
                                        autostaanplaats</h3></td>
                                </tr>
                                <tr valign="top">
                                    <td width="35%"><img class="house_item_img"
                                                         src="assets/images/project_lagha/gelijkvloers_thumb_verhuurd.jpg">
                                    </td>
                                    <td width="65%" align="left">
                                        Diestsesteenweg 450<br>
                                        3202 Rillaar<br>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td width="50%">
                        <div class="house_item">
                            <table width="100%">
                                <tr>
                                    <td colspan="2"><h3 class="house_item_header">Nieuw duplexappartement met
                                        autostaanplaats</h3></td>
                                </tr>
                                <tr valign="top">
                                    <td width="35%"><img class="house_item_img"
                                                         src="assets/images/project_lagha/app2_thumb_verhuurd.jpg">
                                    </td>
                                    <td width="65%" align="left">
                                        Diestsesteenweg 450<br>
                                        3202 Rillaar<br>

                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <div class="house_item">
                            <table width="100%">
                                <tr>
                                    <td colspan="2"><h3 class="house_item_header">Nieuw duplexappartement met
                                        autostaanplaats</h3></td>
                                </tr>
                                <tr valign="top">
                                    <td width="35%"><img class="house_item_img"
                                                         src="assets/images/project_lagha/app3_thumb_verhuurd.jpg">
                                    </td>
                                    <td width="65%" align="left">
                                        Diestsesteenweg 450<br>
                                        3202 Rillaar<br>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td width="50%">
                        <div class="house_item">
                            <table width="100%">
                                <tr>
                                    <td colspan="2"><h3 class="house_item_header">Mooie nieuwbouw woning gesloten
                                        bebouwing met tuin</h3></td>
                                </tr>
                                <tr valign="top">
                                    <td width="35%"><img class="house_item_img"
                                                         src="assets/images/project_kriekebeek/project_krieberg_midden_thumb.JPG">
                                    </td>
                                    <td width="65%" align="left">
                                        Kriebekestraat 1<br>
                                        3390 Houwaart<br>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <div class="house_item">
                            <table width="100%">
                                <tr>
                                    <td colspan="2"><h3 class="house_item_header">Mooie nieuwbouw woning halfopen
                                        bebouwing met grote tuin</h3></td>
                                </tr>
                                <tr valign="top">
                                    <td width="35%"><img class="house_item_img"
                                                         src="assets/images/project_kriekebeek/project_kriebestraat_links_thumb.JPG">
                                    </td>
                                    <td width="65%" align="left">
                                        Kriebekestraat 1<br>
                                        3390 Houwaart<br>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td width="50%">
                        <div class="house_item">
                            <table width="100%">
                                <tr>
                                    <td colspan="2"><h3 class="house_item_header">Mooie nieuwbouw woning halfopen
                                        bebouwing met grote tuin</h3></td>
                                </tr>
                                <tr valign="top">
                                    <td width="35%"><img class="house_item_img"
                                                         src="assets/images/project_kriekebeek/project_kriebestraat_rechts_thumb_verhuurd.JPG">
                                    </td>
                                    <td width="65%" align="left">
                                        Kriebekestraat 1<br>
                                        3390 Houwaart<br>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            <tr>
                <td width="50%">
                    <div class="house_item">
                        <table width="100%">
                            <tr>
                                <td colspan="2"><h3 class="house_item_header">Bouwgrond te langdorp</h3></td>
                            </tr>
                            <tr valign="top">
                                <td width="35%">
                                    <div>
                                        <img class="house_item_img"
                                             src="assets/images/project_kempenaers/bouwgrond_plan.jpg">
                                    </div>
                                </td>
                                <td width="65%" align="left">
                                    Vleminkstraat 122<br>
                                    3201 Langdorp<br>
                                    Prijs :140000,00 €
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td width="50%">

                </td>
            </tr>
        </table>
        </div>
    </div>
</div>
</div>
