<div class="row">
    <div class="col-md-8" style="margin-bottom: 10px;">
        <p class="indekijker">{{short_description}}</p>
    </div>
    <div class="col-md-2">
        {{link-to 'lijst van panden' 'houses' class="btn btn-primary"}}
    </div>
    <div class="col-md-2">

        <div class="holder">
            {{link-to 'Vraag info' 'infoform' class="btn btn-primary"}}
            {{#if has_action}}
                <div class="action1 polaroid">{{ action_text }}</div>
            {{/if}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{#each image in  images}}
            <a class="fancybox" rel="gallery1" {{bind-attr href=image.url}} >
                <img {{bind-attr src=image.url}} width="100px" height="100px" alt="Logo">
            </a>
        {{/each}}

    </div>
</div>

<div class="row">
    <div class="col-md-12 padding">
        <ul class="nav nav-tabs correct padding" id="tabs">
            <li class="active"><a href="#Omschrijving" {{action "description"}}  data-toggle="tab">Omschrijving</a></li>
            <li><a href="#Details" {{action "fiche"}} data-toggle="tab">Technische Fiche</a></li>
            <li><a href="#Ligging" {{action "map"}} class="active" data-toggle="tab">Ligging</a></li>
            <li><a href="#Documents" {{action "documents"}} data-toggle="tab">Documenten</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane padding well active" id="Omschrijving">
            <p>{{{description}}}</p>
            </div>
            <div class="tab-pane padding well" id="Details">
                <p class="underline">Indeling</p>
                <table width="75%" class="table-striped">
                    <tbody>
                    <tr>
                        <td>Verdiepingen</td>
                        <td>{{floors}}</td>
                    </tr>
                    <tr>
                        <td width="45%" align="left">Slaapkamer(s)</td>
                        <td width="55%" align="left">{{rooms}}</td>
                    </tr>
                    <tr>
                        <td>Keuken(s)</td>
                        <td>{{kitchens}}</td>
                    </tr>
                    <tr>
                        <td>Badkamer(s)</td>
                        <td>{{bathrooms}}</td>
                    </tr>
                    <tr>
                        <td>Toiletten</td>
                        <td>{{toilets}}</td>
                    </tr>
                    <tr>
                        <td>Garage(s)</td>
                        <td>{{garages}}</td>
                    </tr>
                    </tbody>
                </table>
                <br>

                <p>Attesten</p>
                <table width="75%" class="table-striped">
                    <tbody>
                    <tr>
                        <td>Referentie van het EPC rapport</td>
                        <td>{{epc_nr}}</td>
                    </tr>
                    <tr>
                        <td>EPC</td>
                        <td>{{epc}}</td>
                    </tr>
                    {{#if for_sale}}
                        <tr>
                            <td width="45%" align="left">Bestemming</td>
                            <td width="55%" align="left">{{destination}}</td>
                        </tr>
                        <tr>
                            <td>KI*</td>
                            <td>{{KI}}</td>
                        </tr>
                        <tr>
                            <td>Voorkooprecht</td>
                            <td>{{salesOption}}</td>
                        </tr>
                        <tr>
                            <td>Bouwvergunning</td>
                            <td>{{buildingPermit}}</td>
                        </tr>
                        <tr>
                            <td>Overstromingsgevoeligheid van uw vastgoed</td>
                            <td>{{watertest}}</td>
                        </tr>
                        <tr>
                        <td>Verkavelingsvergunning</td>
                            <td>{{landDevelopment}}</td>
                        </tr>
                        <tr>
                            <td>Stedenbouwkundige inbreuk</td>
                            <td>{{buildingViolation}}</td>
                        </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane padding" id="Ligging">
                {{{location_url}}}
            </div>
            <div class="tab-pane" id="Documents">
                <div class="tab-pane padding well" id="Documents">
                    <table width="100%" class="table-striped">
                        <tbody>
                        {{#unless hasDocs}}
                            <p>Geen documenten beschikbaar.</p>
                        {{/unless}}
                        {{#each document in documents}}
                            <tr>
                                <td width="15%" align="left">
                                    <a {{bind-attr href=document.url}}
                                            target="_blank"><img {{bind-attr src=document.icon}}
                                            alt="pdf"></a></td>
                                <td width="85%" align="left">{{document.description}}</td>
                            </tr>
                        {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
            <div></div>

        </div>
    </div>
</div>