<div class="row">
<div class="col-md-12">
<ul class="nav nav-tabs navbar-harvest correct padding">
    <li class="active"><a href="#tekoop" {{action "tekoop"}} data-toggle="tab">Te Koop</a></li>
    <li><a href="#tehuur" {{action "tehuur"}} data-toggle="tab">Te Huur</a></li>
    <!--<li><a href="#projects" {{action "projects"}} data-toggle="tab">Projecten</a></li>-->
    <li><a href="#reference" {{action "reference"}} data-toggle="tab">Referentie</a></li>
</ul>


<div class="tab-content">
<div class="tab-pane padding active" id="tekoop">
<table width="100%">
<tr>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="3"><h3 class="house_item_header">Mooie te renoveren hoeve met tuin</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%">
                        <div>
                            <img class="house_item_img" src="assets/images/project_vanaeken/vanaeken_thumb.jpg">
                        </div>
                    </td>
                    <td width="65%" colspan="2" align="left">
                        Kleinbergstraat 76<br>
                        3290 Schaffen Diest<br>
                        Prijs :249700,00 €
                    </td>
                </tr>
                <tr align="center">
                    <td></td>
                    <td>
                        {{link-to 'Meer info' 'house' 22 class="btn btn-primary"}}
                    </td>
                    <td><span style="color : red">NIEUW !!!!</span></td>
                </tr>
            </table>
        </div>
    </td>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="3"><h3 class="house_item_header">Vakantiewoning bosrijk gebied</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%">
                        <div>
                            <img class="house_item_img"
                                 src="assets/images/project_kleinvleminkstraat/kleinvleminkstraat_thumb.jpg">
                        </div>
                    </td>
                    <td width="65%" colspan="2" align="left">
                        klein vleminkstraat 16<br>
                        3201 Langdorp<br>
                        Prijs :115000,00 €
                    </td>
                </tr>
                <tr align="center">
                    <td></td>
                    <td>
                        {{link-to 'Meer info' 'house' 21 class="btn btn-primary"}}
                    </td>
                    <td><span style="color : red">NIEUW !!!!</span></td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<tr>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header">Mooie landelijke woning</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%">
                        <div>
                            <img class="house_item_img" src="assets/images/project_deckers/deckers_thumb.JPG">
                        </div>
                    </td>
                    <td width="65%" align="left">
                        Langestraat 42<br>
                        3202 Rillaar<br>
                        Prijs :340000,00 €
                    </td>
                </tr>
                <tr align="center">
                    <td colspan="2">
                        {{link-to 'Meer info' 'house' 17 class="btn btn-primary"}}
                    </td>
                </tr>
            </table>
        </div>
    </td>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header">Verzorgde landelijke woning</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%">
                        <div>
                            <img class="house_item_img" src="assets/images/project_dekeyzer/dekeyzer_thumb.JPG">
                        </div>
                    </td>
                    <td width="65%" align="left">
                        Maasstraat 141<br>
                        3272 Messelbroek<br>
                        Vanaf prijs :230000,00 €
                    </td>
                </tr>
                <tr align="center">
                    <td colspan="2">
                        {{link-to 'Meer info' 'house' 15 class="btn btn-primary"}}
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<tr>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header">3 aanpalende woningen te Diest</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%">
                        <div>
                            <img class="house_item_img" src="assets/images/project_covast_veemarkt/veemarkt_thumb.JPG">
                        </div>
                    </td>
                    <td width="65%" align="left">
                        Veemarkt 4 - 5 -6<br>
                        3290 Diest<br>
                        Vanaf prijs :475.000,00 €<br>
                        <b>verkocht per opbod</b>
                    </td>
                </tr>
                <tr align="center">
                    <td colspan="2">
                        {{link-to 'Meer info' 'house' 18 class="btn btn-primary"}}
                    </td>
                </tr>
            </table>
        </div>
    </td>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header" style="font-size:20px">Vijf woningen voor project te
                        Lier</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%">
                        <div>
                            <img class="house_item_img"
                                 src="assets/images/project_covast_kanaalstraat/kanaalstraat_thumb.jpg">
                        </div>
                    </td>
                    <td width="65%" align="left">
                        Kanaalstraat 53 - 61<br>
                        2500 Lier<br>
                        Vanaf prijs :318.000,00 €<br>
                        <b>verkocht per opbod</b>
                    </td>
                </tr>
                <tr align="center">
                    <td colspan="2">
                        {{link-to 'Meer info' 'house' 19 class="btn btn-primary"}}
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<tr>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header">Gebouw in hartje Diest</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%">
                        <div>
                            <img class="house_item_img"
                                 src="assets/images/project_covast_ketelstraat/ketelstraat_thumb.jpg">
                        </div>
                    </td>
                    <td width="65%" align="left">
                        Ketelstraat<br>
                        3290 Diest<br>
                    </td>
                </tr>
                <tr align="center">
                    <td colspan="2">
                        <span class="btn btn-primary">VERKOCHT</span>
                    </td>
                </tr>
            </table>
        </div>
    </td>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header" style="font-size:20px">Gezinswoning Diest - open
                        bebouwing</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%">
                        <div>
                            <img class="house_item_img"
                                 src="assets/images/project_covast_montgomerystraat/montgomery_thumb.jpg">
                        </div>
                    </td>
                    <td width="65%" align="left">
                        Montgomerystraat 7<br>
                        3290 Diest<br>
                    </td>
                </tr>
                <tr align="center">
                    <td colspan="2">
                        <span class="btn btn-primary">VERKOCHT</span>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<tr>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header">Prachtig herenhuis Diest</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%">
                        <div>
                            <img class="house_item_img"
                                 src="assets/images/project_covast_cleynaertstraat/cleynaertstraat_thumb.jpg">
                        </div>
                    </td>
                    <td width="65%" align="left">
                        Cleynaertsstraat 12<br>
                        3290 Diest<br>
                        Vanaf prijs :325.000,00 €<br>
                        <b>verkocht per opbod</b>
                    </td>
                </tr>
                <tr align="center">
                    <td colspan="2">
                        {{link-to 'Meer info' 'house' 20 class="btn btn-primary"}}
                    </td>
                </tr>
            </table>
        </div>
    </td>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header">Zonnig appartement Aarschot</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%">
                        <div>
                            <img class="house_item_img"
                                 src="assets/images/project_schellens/schellens_thumb.JPG">
                        </div>
                    </td>
                    <td width="65%" align="left">
                        Fabriekstraat 33 bus 1<br>
                        3200 Aarschot<br>
                        Prijs :180000,00 €
                    </td>
                </tr>
                <tr align="center">
                    <td colspan="2">
                        <span class="btn btn-primary">VERKOCHT</span>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<tr>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header">Bouwgrond te langdorp</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%">
                        <div>
                            <img class="house_item_img"
                                 src="assets/images/project_kempenaers/bouwgrond_plan.jpg">
                        </div>
                    </td>
                    <td width="65%" align="left">
                        Vleminkstraat 122<br>
                        3201 Langdorp<br>
                    </td>
                </tr>
                <tr align="center">
                    <td colspan="2">
                        <span class="btn btn-primary">VERKOCHT</span>
                    </td>
                </tr>
            </table>
        </div>
    </td>
    <td width="50%">

    </td>
</tr>
</table>
</div>
<div class="tab-pane padding" id="tehuur">
    <table width="100%">
        <tr>
            <td width="50%">
                Momenteel geen panden beschikbaar.
            </td>
            <td width="50%">

            </td>
        </tr>
    </table>
</div>
<div class="tab-pane padding" id="projects">
    <table width="100%">
        <tr>
            <td width="50%">
                <div class="house_item">
                    <table width="100%">
                        <tr>
                            <td colspan="2"><h3 class="house_item_header">Nieuwbouw project Scherpenheuvel</h3></td>
                        </tr>
                        <tr valign="top">
                            <td width="35%">
                                <div>
                                    <img class="house_item_img" src="assets/images/project_dekeyzer/dekeyzer_thumb.JPG">
                                </div>
                            </td>
                            <td width="65%" align="left">
                                8 nieuwbouw appartementen nabij de Basiliek van Scherpenheuvel.
                            </td>
                        </tr>
                        <tr align="center">
                            <td colspan="2">
                                {{link-to 'Meer info' 'project' 1 class="btn btn-primary"}}
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td width="50%">

            </td>
        </tr>
    </table>
</div>
<div class="tab-pane padding " id="reference">
<table width="100%">
<tr>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header">Nieuw gelijkvloers appartement met
                        autostaanplaats</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%"><img class="house_item_img"
                                         src="assets/images/project_lagha/gelijkvloers_thumb.jpg">
                    </td>
                    <td width="65%" align="left">
                        Diestsesteenweg 450<br>
                        3202 Rillaar<br>
                    </td>
                </tr>
            </table>
        </div>
    </td>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header">Nieuw duplexappartement met
                        autostaanplaats</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%"><img class="house_item_img"
                                         src="assets/images/project_lagha/app2_thumb.jpg">
                    </td>
                    <td width="65%" align="left">
                        Diestsesteenweg 450<br>
                        3202 Rillaar<br>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<tr>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header">Nieuw duplexappartement met
                        autostaanplaats</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%"><img class="house_item_img"
                                         src="assets/images/project_lagha/app3_thumb.jpg">
                    </td>
                    <td width="65%" align="left">
                        Diestsesteenweg 450<br>
                        3202 Rillaar<br>
                    </td>
                </tr>
            </table>
        </div>
    </td>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header">Mooie nieuwbouw woning gesloten
                        bebouwing met tuin</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%"><img class="house_item_img"
                                         src="assets/images/project_kriekebeek/project_krieberg_midden_thumb.JPG">
                    </td>
                    <td width="65%" align="left">
                        Kriebekestraat 1<br>
                        3390 Houwaart<br>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<tr>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header">Mooie nieuwbouw woning halfopen
                        bebouwing met grote tuin</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%"><img class="house_item_img"
                                         src="assets/images/project_kriekebeek/project_kriebestraat_links_thumb.JPG">
                    </td>
                    <td width="65%" align="left">
                        Kriebekestraat 1<br>
                        3390 Houwaart<br>
                    </td>
                </tr>
            </table>
        </div>
    </td>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header">Mooie nieuwbouw woning halfopen
                        bebouwing met grote tuin</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%"><img class="house_item_img"
                                         src="assets/images/project_kriekebeek/project_kriebestraat_rechts_thumb.JPG">
                    </td>
                    <td width="65%" align="left">
                        Kriebekestraat 1<br>
                        3390 Houwaart<br>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<tr>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header">Bouwgrond te langdorp</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%">
                        <div>
                            <img class="house_item_img"
                                 src="assets/images/project_kempenaers/bouwgrond_plan.jpg">
                        </div>
                    </td>
                    <td width="65%" align="left">
                        Vleminkstraat 122<br>
                        3201 Langdorp<br>
                    </td>
                </tr>
            </table>
        </div>
    </td>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header">Rillaar</h3></td>

                </tr>
                <tr valign="top">
                    <td width="35%">
                        <div>
                            <img class="house_item_img"
                                 src="assets/images/project_peeters/peeters_thumbnail.jpg">
                        </div>
                    </td>
                    <td width="65%" align="left">
                        Motteveld 30<br>
                        3202 Rillaar
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<tr>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header">Rillaar 2 slpk - garage</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%">
                        <div>
                            <img class="house_item_img"
                                 src="assets/images/project_laevers/laevers_thumbnail.JPG">
                        </div>
                    </td>
                    <td width="65%" align="left">
                        Tieltseweg 171 bus4<br>
                        3202 Rillaar<br>
                    </td>
                </tr>
            </table>
        </div>
    </td>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header">Rillaar centrum - 3 slpk</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%">
                        <div>
                            <img class="house_item_img"
                                 src="assets/images/project_vanaerschot/vanaerschot_thumbnail.JPG">
                        </div>
                    </td>
                    <td width="65%" align="left">
                        Motteveld <br>
                        3202 Rillaar<br>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<tr>
    <td width="50%">
        <div class="house_item">
            <table width="100%">
                <tr>
                    <td colspan="2"><h3 class="house_item_header">Bouwgrond te langdorp</h3></td>
                </tr>
                <tr valign="top">
                    <td width="35%">
                        <div>
                            <img class="house_item_img"
                                 src="assets/images/project_kempenaers/bouwgrond_plan.jpg">
                        </div>
                    </td>
                    <td width="65%" align="left">
                        Vleminkstraat 122<br>
                        3201 Langdorp<br>
                    </td>
                </tr>

            </table>
        </div>
    </td>
    <td width="50%">
    </td>
</tr>
</table>
</div>

</div>
</div>
</div>
